
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>PDF Reports</h1>

<span class="badge bg-label-primary me-1">Static PDF File</span>
<a href="/PdfReport/StaticPDF/"><i class='menu-icon tf-icons bx bx-download'></i></a>

<br />
<br />
<span class="badge bg-label-primary me-1">Static PDF Table File</span>
<a href="/PdfReport/StaticPDFTable/"><i class='menu-icon tf-icons bx bx-download'></i></a>

