

<div class="maghny-gd-1 col-lg-6">
    <div class="maghny-grid">
        <figure class="effect-lily border-radius  m-0">
            <img class="img-fluid" src="@ViewBag.c1" alt="" />
            <figcaption>
                <div>
                    <h4>@ViewBag.c2</h4>
                    <p>@ViewBag.c3 </p>
                </div>

            </figcaption>
        </figure>
    </div>
</div>