@model TravelsalWebApplication.Models.UserRegisterViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>SignUp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- LINEARICONS -->
    <link rel="stylesheet" href="~/colorlib-regform-26/fonts/linearicons/style.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/colorlib-regform-26/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <img src="~/colorlib-regform-26/images/image-1.png" alt="" class="image-1">
            <form method="post">
                <h3>New Account?</h3>
                <span asp-validation-for="Name" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Name" name="Name">
                </div>
                <span asp-validation-for="Surname" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Surname" name="Surname">
                </div>
                <span asp-validation-for="Username" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-user"></span>
                    <input type="text" class="form-control" placeholder="Username" name="Username">
                </div>
                <span asp-validation-for="Mail" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-envelope"></span>
                    <input type="text" class="form-control" placeholder="Email" name="Mail">
                </div>
                <span asp-validation-for="Password" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                </div>
                <span asp-validation-for="ConfirmPassword" style="color:  #ff0000;"></span>
                <div class="form-holder">
                    <span class="lnr lnr-lock"></span>
                    <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly" style="color:  #ff0000;">  </div>
                <br />
                <button>
                    <span>Register</span>
                </button>
                <br />
                <span>If you have an account click</span><a href="/Views/Login/SignIn">HERE</a>
            </form>
            <img src="~/colorlib-regform-26/images/image-2.png" alt="" class="image-2">
        </div>

    </div>

    <script src="~/colorlib-regform-26/js/jquery-3.3.1.min.js"></script>
    <script src="~/colorlib-regform-26/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>