
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        @await Component.InvokeAsync("_Banner")

        @await Component.InvokeAsync("_Stat1")

        @await Component.InvokeAsync("_Chart1")
  
        @await Component.InvokeAsync("_Stat2")
    </div>
    <div class="row">
   
        @await Component.InvokeAsync("_Tab1")
  
        @await Component.InvokeAsync("_Tab2")

        @await Component.InvokeAsync("_Tab3")

    </div>
</div>

