
@model List<ContactMessage> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Contact Us Inbox</h1>

<div class="card">
    <h5 class="card-header">List of Destinations</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Actions</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.ContactMessageID</strong>
                            </td>
                            <td>@item.Name</td>
                            <td>@item.Subject.Substring(0, 3) ...</td>
                            <td>@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                            class="btn p-0 dropdown-toggle hide-arrow"
                                            data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Admin/ContactMessage/Details/@item.ContactMessageID"><i class="bx bx-edit-alt me-1"></i> Check</a>
                                        <a class="dropdown-item" href="/Admin/ContactMessage/Delete/@item.ContactMessageID"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                            @if (item.Status == true)
                            {
                                <td><a href="/Admin/ContactMessage/ChangeStatus/@item.ContactMessageID" class="badge bg-label-success me-1">Active</a></td>
                            }
                            else
                            {
                                <td><a href="/Admin/ContactMessage/ChangeStatus/@item.ContactMessageID" class="badge bg-label-danger me-1">False</a></td>
                            }

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

