
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>CityList Ajax</h1>
<br />

<button type="button" id="btngetList" class="btn btn-outline-info">City List</button>
<button type="button" id="btnaddCity" class="btn btn-outline-success">City Add</button>
<button type="button" id="btndeleteCity" class="btn btn-outline-danger">City Delete</button>
<button type="button" id="btnupdateCity" class="btn btn-outline-secondary">City Update</button>


<div id="citylist">
    The list of the city will appear
</div>
<br />
<div>
    @Html.Label("Add City")
    <input type="text" id="txtcity" placeholder="City" class="form-control" />
    <br />
    <input type="text" id="txtday" placeholder="Day and Night" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Price" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Capacity" class="form-control" />
</div>
<br />
<div>
    @Html.Label("Delete City")
    <input type="text" id="txtcityid" placeholder="ID for delete" class="form-control" />
</div>
<br />
<div>
    @Html.Label("Update City")
    <input type="text" id="txtcityupdateid" placeholder="ID" class="form-control" />
    <br />
    <input type="text" id="txtcityname" placeholder="City" class="form-control" />
    <br />
    <input type="text" id="txtcityday" placeholder="DayNight" class="form-control" />
</div>

<script>
    $("#btngetList").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/CityList/",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th>City</th><th>Day-Night</th><th>Price</th></tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td><td>${value.DayNight}</td><td>${value.Price}</td></tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    });

    $("#btnaddCity").click(function () {
        let cityvalues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtday").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "post",
            url: "/Admin/City/AddCity/",
            data: cityvalues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("City was added successfully");
            }
        });
    });

    $("#btndeleteCity").click(x => {
        let id = $("#txtcityid").val();
        $.ajax({
            url: "/Admin/City/DeleteCity/" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (func2) {
                alert("city has been deleted");
            }
        });
    });

    $("#btnupdateCity").click(function () {
        let values = {
            DestinationID: $("#txtcityupdateid").val(),
            City: $("#txtcityname").val(),
            DayNight: $("#txtcityday").val()

        };

        $.ajax({
            type: "post",
            url: "/Admin/City/UpdateCity/",
            data: values,
            success: function (func3){
                alert("city has been updated");
        }
        });
    });

</script>

