@model IEnumerable<BookingExchangeViewModel.Exchange_Rates>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h5 class="card-header">Exchange Rates From Rapid Api</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Currency name</th>
                    <th>Average exchange rate</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.currency</strong></td>
                        <td>@item.exchange_rate_buy</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

