
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Files</h1>

<span class="badge bg-label-primary me-1">Static Excel File</span>
<a href="/Excel/StaticExcel/"><i class='menu-icon tf-icons bx bx-download'></i></a>
<br />
<br />
<span class="badge bg-label-primary me-1">Destination Excel Dynamic File</span>
<a href="/Excel/DestinationExcelReport/"><i class='menu-icon tf-icons bx bx-download'></i></a>


